H1 {
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

H2 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

P {
	text-align: justify;
	margin-left: 20px;
}

PRE {
	margin-left: 20px;
}


div.img {
	font-style: italic;
	max-width: 700px;
	margin: 100px auto;
}
